<!DOCTYPE html>
<html>
<head>
    <title>Collaborative Editor</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.js"></script>
</head>
<body>
    <h1>Princeton COS 316 FALL 2023 Final Project</h1>
    <p>Created by: Sriyans Rauniyar, Christopher Speed, Danica Truong</p>
    <textarea id="editor" placeholder="type here :D" style="width: 99%; height: 300px;"></textarea>

    <script>
        var socket = io();
        var editor = document.getElementById('editor');

        var caretPosition = editor.selectionStart;

        socket.on('connect', function() {
            socket.emit('new_client');
        });

        editor.addEventListener('input', function() {
            var text = editor.value;
            socket.emit('send_change', { content: text });
        });

        socket.on('receive_document', function(data) {
            editor.value = data.content;
        });

        socket.on('receive_document_change', function(data){
            caretPosition = editor.selectionStart;
            editor.value = data.content;
            if (data.pos < caretPosition){
                editor.setSelectionRange(data.pos, data.pos);
            }
            else{
                editor.setSelectionRange(caretPosition, caretPosition);
            }
        });

    </script>
</body>
</html>
