<!DOCTYPE html>
<html>
<head>
    <title>Collaborative Editor</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.js"></script>
</head>
<body>
    <textarea id="editor" style="width: 100%; height: 300px;"></textarea>

    <script>
        var socket = io();
        var editor = document.getElementById('editor');

        socket.on('connect', function() {
            socket.emit('new_client');
        });

        editor.addEventListener('input', function() {
            var text = editor.value;
            socket.emit('send_change', { content: text });
        });

        socket.on('receive_document', function(data) {
            editor.value = data.content;
        });

    </script>
</body>
</html>
